.full-page {
  position: relative;
  z-index: 1;
  transition: all 0.1s linear;
}

.full-page-slide {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  @apply px-4 pt-24 pb-4 lg:px-[160px] xl:pt-32 xl:pb-8;
  transition: opacity 0.5s linear, transform 0.1s linear;
}

.main-container-open .full-page .full-page-slide {
  transform: perspective(40px) translateZ(0px) translateY(-60px) translateX(0px) rotateY(1deg);
  transform-origin: 20% 50%;
  opacity: 0.5;
}

.full-page-slide.active {
  opacity: 1;
}

.full-page-slide.inactive {
  opacity: 0;
}
